
body{
    overflow-x: hidden;
}

.books-header{
    border: green 0.5px solid;
    color: yellow;
    display: none;
    margin-top: 3%;
    background-color: green;
    padding: 3% 2% 4%;
    text-align: center;
}

.books li{
    margin-bottom: 2%;
}

.table-head{
    visibility: hidden;
}

.info{
    margin-top: 5%;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    background-color: #FFF;
}

span{
    color: red;
}

.delete-btn{
    color: #FFF;
    background-color: red;
    text-align: center;
}

#delete-books-btn{
    margin-top: 10%;
    margin-left: 57%;
    padding: 2% 10%;
    border-color: yellow;
    color: yellow;
    background-color: green;
    border-radius: 3%;
}

.error {
    background-color: rgb(250, 41, 41);
    padding: 5%;
    color: white;
    text-align: center;
}

.success {
    background-color: green;
    padding: 5%;
    color: white;
    text-align: center;
}

.alert-hide {
    display: none;
}




@media only screen and (min-width: 870px){
    header {
        border: green 0.5px solid;
        margin: 1% 1% 5%;
        background-color: green;
        padding-bottom: 2%;
    }

    header h5 {
        color: yellow;
        padding: 3% 2% 1% 2%;
    }

    #showbook-btn {
        border-color: yellow;
        color: yellow;
        max-width: 30%;
        position: absolute;
        left: 60%;
        top: 40px;
    }

    #showbook-btn:hover {
        color: green;
        background-color: yellow;
    }

    .main {
        border: green 1px solid;
        border-radius: 3%;
        padding: 5% 13%;
        display: none;
    }

    


    .form-group {
        margin-top: 5%;
    }

    .input-group-text {
        background-color: green;
        color: yellow;
    }

    #add-book-btn {
        border-color: yellow;
        color: yellow;
        background-color: green;
    }
}

@media only screen and (max-width: 870px) and (min-width: 739px){

    header {
        border: green 0.5px solid;
        margin: 1% 1% 5%;
        background-color: green;
        padding-bottom: 2%;
    }

    header h5 {
        color: yellow;
        padding: 3% 2% 2% 2%;
    }

    #showbook-btn {
        border-color: yellow;
        color: yellow;
        max-width: 30%;
        position: absolute;
        left: 500px;
        top: 28px;
    }

    #showbook-btn:hover {
        color: green;
        background-color: yellow;
    }

    


    .main {
        border: green 1px solid;
        border-radius: 5%;
        padding: 5% 13%;
        display: none;
    }

    .form-group {
        margin-top: 5%;
    }

    .input-group-text {
        background-color: green;
        color: yellow;
    }

    #add-book-btn {
        border-color: yellow;
        color: yellow;
        background-color: green;
    }

}

@media only screen and (max-width: 738px) {
   header {
       border: green 0.5px solid;
       margin: 1% 1% 5%;
       background-color: green;
       padding-bottom: 2%;
   }

   header h5 {
       color: yellow;
       padding: 3% 2% 2% 2%;
       text-align: center;
   }

   .form-btn{
       text-align: center;
   }
   #showbook-btn {
       border-color: yellow;
       color: yellow;
       max-width: 50%;
       margin-left: 25%;
   }

   #showbook-btn:hover {
       color: green;
       background-color: yellow;
   }

   .main {
       border: green 1px solid;
       border-radius: 5%;
       padding:  2% 5% 13%;
       display: none;
   }

   .error {
       background-color: rgb(250, 41, 41);
       padding: 5%;
       color: white;
       text-align: center;
       display: block;
   }

   .form-group {
       margin-top: 5%;
   }

   .input-group-text {
       background-color: green;
       color: yellow;
   }

   #add-book-btn {
       border-color: yellow;
       color: yellow;
       background-color: green;
   }
}
